<footer class="footer">
  <div class="footer-inner">
    <span>nodepulse v0.3.1</span>
    <span>by OidaNice</span>
  </div>
</footer>
<script src="/static/js/charts.js" defer></script>
<script src="/static/js/notifications.js" defer></script>
<script src="/static/js/main.js" defer></script>
</body>
</html>
