<!-- Global Sidepanels -->
<%- include('./add-node-panel') %>
<%- include('./alerts-panel') %>
<%- include('./settings-panel') %>

<script src="/static/js/charts.js" defer></script>
<script src="/static/js/notifications.js" defer></script>
<script src="/static/js/main.js?v=1.5" defer></script>
</body>
</html>
