<!-- Global Sidepanels -->
<%- include('./add-node-panel') %>
<%- include('./alerts-panel') %>
<%- include('./settings-panel') %>

<script src="/static/js/charts.js" defer></script>
<script src="/static/js/notifications.js" defer></script>
<script src="/static/js/i18n/translations.js" defer></script>
<script src="/static/js/i18n/i18n.js" defer></script>
<script src="/static/js/main.js?v=1.7" defer></script>
</body>
</html>
